SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="6001", ATTRS{serial}=="3f980000.usb", SYMLINK+="irsense"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="6001", ATTRS{serial}=="A7004IXj", SYMLINK+="drive"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTDIF46B", SYMLINK+="powerRelay"
